.header-container {
    text-align: center;
    padding: 50px 0px 50px 0px;
    background-color:lightpink;
    width: 100% !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
}